.chat-input {
  position: fixed;
  display: flex;
  bottom: 0px;
  width: 100%;
  height: $l-size;
  font-size: $font-size-small;
  color: $dark-grey;
  line-height: $l-size;
  text-align: center;
  background-color: $grey;
  input{
    width: 75%;
  }
  button{
    width: 25%;
  }
}


@include md {
	@import 'medium';
}