.chat-header {
  z-index: 2;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  width: 100%;
  height: $l-size;
  font-size: $font-size-medium;
  color: $dark-grey;
  line-height: $l-size;
  text-align: center;
  background-color: $grey;
  &__button {
    outline: none;
    position: absolute;
    top: $s-size/2;
    right: $s-size;
    background: none;
    border: none;
    fill: $dark-grey;
    svg {
      height: 20px;
      width: 20px;
    }
    &:hover {
      color: $white;
      cursor: pointer;
    }
  }
}
