.message {
  display: flex;
  position: relative;
  color: $dark-grey;
  min-width: $xl-size*4;
  border-radius: $l-size;
  background-color: $light-grey;
  border-radius: $s-size/2;
  justify-content: space-between;
  &--out {
    text-align: right;
  }
  &--in {
    margin-left: 0;
  }
  &__text {
    margin: $s-size;
  }
}

.message__info {
  display: flex;
  align-items: flex-end;
  bottom: 0px;
  right: $s-size;
  font-size: $font-size-small;
  margin: $xs-size/2;
}

.message__status {
  margin-left: $xs-size/2;
  margin-bottom: -$xs-size/3;
  svg {
    width: 1.2rem;
    height: 1.2rem;
  }
  &--sent {
    margin-bottom: 0;
    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &--sent, &--received {
    fill: $grey;
  }

  &--read {
    fill: $blue-read;
  }
  &--out {
    right: 0px;
  }
}
