.chat {
  display: flex;
  flex-direction: column;
  padding-top: $l-size;
  padding-bottom: $l-size;
  background-color: $dark-grey;
  &__row {
    padding: $s-size;
    padding-bottom: 0px;
    display: flex;
    &--date {
      justify-content: center;
      p {
        border: 1px solid $light-grey;
        border-radius: $s-size;
        padding: $s-size/2;
      }
    }
    &--message-in {
      justify-content: flex-start;
    }
    &--message-out {
      justify-content: flex-end;
    }
  }
  &__content {
    margin-bottom: $m-size;
  }
}
