html {
  font-size: 62.5%;
  background-color: $dark-grey;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: $white;
  font-size: $s-size;
}

#app {
  height: 100vh;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}