// Colors
$blue-read: #26bbf2;
$dark-grey: #3b3b3b;
$light-grey: #d6d6d6;
$grey: #8a8a8a;
$white: #dededede;

// Font Size
$font-size-medium: 1.5em;
$font-size-small: 1rem;
// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4rem;

$screen-s: 320px;
$screen-m: 730px;
$screen-l: 1140px;